{{#if messages.error}}
{{#each messages.error}}
  <div class="alert alert-danger text-center mx-auto mt-3 w-50 shadow-sm rounded">
    {{this}}
    </div>
{{/each}}
{{/if}}

{{#if messages.success}}
{{#each messages.success}}
<div class="alert alert-success text-center mx-auto mt-3 w-50 shadow-sm rounded">
{{this}}
</div>
{{/each}}
{{/if}}