{{#if messages.error}}
{{#each messages.error}}
  <div class="alert alert-danger">
    {{this}}
    </div>
{{/each}}
{{/if}}

{{#if messages.success}}
{{#each messages.success}}
<div class="alert alert-success">
{{this}}
</div>
{{/each}}
{{/if}}