    <div class="container mt-5 text-center">
        <h1 class="text-danger">{{title}}</h1>
        <p class="lead">{{message}}</p>
        <a href="/" class="btn btn-primary mt-3">Retour à l'accueil</a>
        <a href="javascript:history.back()" class="btn btn-secondary mt-3">Revenir à la page précédente</a>
    </div>
    
