<div class="container text-center mt-5">
<h1 class="display-4 text-primary">{{title}}</h1>
<p class="lead">Connectez-vous pour accéder à vos tâches ou découvrez-en plus sur notre application.</p>
<a href="/auth/login" class="btn btn-success btn-lg mt-3">Se connecter</a>
</div>


