<div class="container text-center mt-3">
<h1 class="text-primary text-center mb-4">{{title}}</h1>
<p class="lead">Connectez-vous pour accéder à vos tâches ou découvrez-en plus sur notre application.</p>
</div>


