<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle tâche</title>
</head>
<body>
    <h1>Ajouter une nouvelle tâche</h1>
    <form action="/tasks" method="POST">
      <label for="name">Titre:</label>
      <input type="text" id="name" name="name" required>
      <br>
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" required>
      <br>
      <label for="status">Statut:</label>
      <select name="status" id="status">
       <option value="incomplete">Non complété</option>
       <option value="complete">Complété</option>
      </select>
      <br>
      <button type="submit">Ajouter</button>
    </form>
    
</body>
</html>