<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier une tâche</title>
</head>
<body>
    <h1>Modifier le statut de la tâche</h1>
<form action="/tasks/{{task._id}}?_method=PUT" method="POST">
     <input type="hidden" name="_method" value="PUT">
     <label for="title">Titre:</label>
     <input type="text" id="title" name="title" value="{{task.title}}" required>
     <br>
     <label for="description">Description:</label>
     <input type="text" id="description" name="description" value="{{task.description}}" required>
     <br>
     <label for="completed">Statut:</label>
     <select name="completed" id="completed">
        <option value="false" {{#unless task.completed}}selected{{/unless}}>Non complété</option>
        <option value="true" {{#if task.completed}}selected{{/if}}>complété</option>
      </select>
      <br>
      <button type="submit">Mettre à jour</button>
</form>
</body>
</html>